
        <section class="hero-wrap js-fullheight">
        <div id="page-wrap">

                <h1> Hero Quiz </h1>
                
                <form action="quiz-result.ejs" method="post" id="quiz">
                
                    <ol>
                    
                        <li>
                            questions.forEach(x=>{
                                <h3>x.question</h3>
                            
                            <div>
                                <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A" />
                                <label for="question-1-answers-A">A)Berlibur</label>
                            </div>
                            
                            <div>
                                <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B" />
                                <label for="question-1-answers-B">B) Bercanda</label>
                            </div>
                            
                            <div>
                                <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C" />
                                <label for="question-1-answers-C">C) Ramai</label>
                            </div>
                            
                            })
                        
                        </li>
                        
                        <li>
                        
                            <h3>Seekor Rusa Memiliki?</h3>
                            
                            <div>
                                <input type="radio" name="question-2-answers" id="question-2-answers-A" value="A" />
                                <label for="question-2-answers-A">A) Tanduk</label>
                            </div>
                            
                            <div>
                                <input type="radio" name="question-2-answers" id="question-2-answers-B" value="B" />
                                <label for="question-2-answers-B">B) Teman</label>
                            </div>
                            
                            <div>
                                <input type="radio" name="question-2-answers" id="question-2-answers-C" value="C" />
                                <label for="question-2-answers-C">C) Perasaan</label>
                            </div>
                           
                        
                        </li>
                        
                        <li>
                        
                            <h3>Burung adalah hewan yang bisa ?</h3>
                            
                            <div>
                                <input type="radio" name="question-3-answers" id="question-3-answers-A" value="A" />
                                <label for="question-3-answers-A">A) Terbang</label>
                            </div>
                            
                            <div>
                                <input type="radio" name="question-3-answers" id="question-3-answers-B" value="B" />
                                <label for="question-3-answers-B">B) Temenan</label>
                            </div>
                            
                            <div>
                                <input type="radio" name="question-3-answers" id="question-3-answers-C" value="C" />
                                <label for="question-3-answers-C">C) Bertelur</label>
                            </div>
           
                        </li>
                        
                        <li>
                        
                            <h3>Bendera NKRI warnanya ?</h3>
                            
                            <div>
                                <input type="radio" name="question-4-answers" id="question-4-answers-A" value="A" />
                                <label for="question-4-answers-A">A) Merah / Putih</label>
                            </div>
                            
                            <div>
                                <input type="radio" name="question-4-answers" id="question-4-answers-B" value="B" />
                                <label for="question-4-answers-B">B) Putih-Merah</label>
                            </div>
                            
                            <div>
                                <input type="radio" name="question-4-answers" id="question-4-answers-C" value="C" />
                                <label for="question-4-answers-C">C) Dua</label>
                            </div>
                            
                        
                        </li>
                        
                        <li>
                        
                            <h3>Ketika apa orang biasanya makan ?</h3>
                            
                            <div>
                                <input type="radio" name="question-5-answers" id="question-5-answers-A" value="A" />
                                <label for="question-5-answers-A">A) Tidur</label>
                            </div>
                            
                            <div>
                                <input type="radio" name="question-5-answers" id="question-5-answers-B" value="B" />
                                <label for="question-5-answers-B">B) Marah</label>
                            </div>
                            
                            <div>
                                <input type="radio" name="question-5-answers" id="question-5-answers-C" value="C" />
                                <label for="question-5-answers-C">C) Mati</label>
                            </div>
                            
                        </li>
                    
                    </ol>
                    
                    <input type="submit" value="Submit Quiz" />
                
                </form>
            
            </div>
        </section>


