<% include ./partials/header.ejs %>


	<!-- END nav -->


	<section class="hero-wrap js-fullheight">
		<div class="overlay" style="background-image: url(images/bg_2.jpg);" data-stellar-background-ratio="0.5"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end">
				<div class="col-md-12 text-center ftco-animate">
					<h1 class="mb-3 bread" style="background-image: url(http://i0.wp.com/www.dailycal.org/assets/uploads/2016/01/2.gif?resize=495%2C278);" data-stellar-background-ratio="0.5">Fox
						Heroes</h1>
					<p class="breadcrumbs"> <q>IF THE HEROES RUN AND HIDE, WHO WILL STAY AND FIGHT?</q> </p>
				</div>
			</div>
		</div>
	</section>

	<% include ./partials/footer.ejs %>