<% include ./partials/header.ejs %>

<div class="hero-wrap js-fullheight">
    <form class="row" method="POST">
        Username:
        <input type="text" name="name"><br>
        Password:
        <input type="password" name="password"><br>
    </form>
    <button type="submit">Login</button>
</div>

<% include ./partials/footer.ejs %>