<% include ./partials/header.ejs %>

<div>
    <form method="POST">
        Username:
        <input type="text" name="password"><br>
        Password:
        <input type="password" name="password"><br>
        <button type="submit">Login<</button>
    </form>
</div>

<% include ./partials/footer.ejs %>