<% include ./partials/header.ejs %>
<section class="hero-wrap js-fullheight">
        <div class="container" style="background-image: url();" data-stellar-background-ratio="0.5"> <!--Belum ada background-->
            <div class="row js-fullheight align-items-center justify-content-center">


    <h1>Your Result is :</h1>
    <input type="text" name="<%- quizResult(data) %>" value="<%- quizResult(data) %>">

</div>
</div>
</section>

<% include ./partials/footer.ejs %>


