<% include ./partials/header.ejs %>

<section class="hero-wrap js-fullheight">
    <div class="container" style="background-image:url(images/bg_2.jpg)" ; data-stellar-background-ratio="0.5" >
        <div class="row js-fullheight align-items-center justify-content-center" style="color:white;">
            <center>

                <form class="mb-3 bread" method="POST">
                    <label for="username">Username: </label><br>
                    <input type="text" name="name" required placeholder="username" minlength="8"><br>
                    <label for="password">Password: </label><br>
                    <input type="password" name="password" required placeholder="password" minlength="8"><br>
                    <label for="email">Email: </label><br>
                    <input type="email" name="email" required placeholder="email" minlength="8">
                    <br>
                    <br>
                    Gender:
                    <select name="gender"><br><br>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select><br>
                    <br>
                    <button type="submit">Join</button>
                </form>

            </center>
        </div>
    </div>
</section>

<% include ./partials/footer.ejs %>