<% include ../partials/header.ejs %>

<div class="container">
  <input type="image" src="https://orig00.deviantart.net/fa44/f/2016/365/2/3/2324c1f8a37509e834b1c05312c37878-datk5wk.gif">
  <center>
    <form action="/hero">
      <button type="submit">FIGHT</button>
    </form>
  </center>
</div>


<% include ../partials/footer.ejs %>