<% include ../partials/header.ejs %>

<div class="container">
  
  <div class="row">
      <div class="column">
       <% let num = Math.floor(Math.random() * 4); %>
       <% if(num == 0){ %>
          <img src="images/scorpion.gif" alt="Snow" style="width:100%">
       <% }else if(num == 1){ %>
          <img src="images/HULK.gif" alt="Snow" style="width:100%">
       <% }else if(num == 2){ %>
          <img src="images/sonya.gif" alt="Snow" style="width:30%; margin-top: 20%; margin-left: 20%">
      <% }else if(num == 3){ %>
          <img src="images/sub-zero.gif" alt="Snow" style="width:100%; margin-top: 30%; margin-left: 20%">
      <%  } %>
      </div>
      <div class="column">
       <% if(threat.ThreatId == 1){ %>
          <img src="images/GOD.gif" alt="Forest" style="width:50%; margin-left: 30%; margin-top: 18%">
       <% }else if(threat.ThreatId == 2){ %>
          <img src="images/DRAGON.gif" alt="Forest" style="width:100%; margin-left: 20%">
      <% }else if(threat.ThreatId == 3){ %>
          <img src="images/demons.gif" alt="Forest" style="width:200%; margin-left: 15%; margin-top: -50%">
      <%  }else if(threat.ThreatId == 4){ %>
          <img src="images/tiger-color.gif" alt="Forest" style="width:100%; margin-left: 20%; margin-top: 30%">
      <%  }else if(threat.ThreatId == 5){ %>
          <img src="images/FOX.png" alt="Forest" style="width:100%; margin-left: 100%; margin-top: 90%">
      <%  } %>
      </div>
  </div>
  <center style="margin-right:10%">
    <form action="/threat/<%=hero.id%>" method="POST">
      <input type="text" hidden="true" name="result" value="<%=data%>">
      <button type="submit">FIGHT</button>
    </form>
  </center>
</div>


<% include ../partials/footer.ejs %>